/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Override default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Hind', sans-serif;
}



/* Header */
header {
    background-color: rgb(225, 225, 182);
}

h1 {
    font-family: 'Montserrat',
        sans-serif;
}

nav {
    background-color: black;
}


nav>a {
    text-decoration: none;
    color: whitesmoke;
}

nav>a:hover {
    color: grey;
}



/* Main Content */
main {
    background-color: darkolivegreen;
    /* Push footer all the way down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: black;
    color: whitesmoke;
}