/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Override default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Hind', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(3, 3, 83);
    text-decoration: none;
}


/* Header */
header {
    background-color: rgb(226, 219, 173);
    padding: 10px 5px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 2px;
    display: flex;
    justify-content: space-between align-items: baseline;
}

header i {
    padding: 5px 10px;
    font-size: 180%;
}

header a {
    text-decoration: none;
}

/* Nav bar */

#navmenu {
    list-style-type: none;
}

#navmenu a {
    color: rgb(3, 3, 83);
    text-decoration: none;
    font-size: 115%;
}

#navmenu a:hover {
    font-size: 125%;
}

.active {
    /* NOT WORKING? */
    font-size: 125%;
}

nav {
    position: absolute;
    background-color: beige;
    padding: 15px;
    width: 100%;
    box-shadow: 0 1px 2px;
    left: 0;
    display: none;
    top: 100%;
}

#nav-toggle-open:checked~nav {
    display: block;
}

#nav-toggle-open {
    display: none;
}


/* Main Content */
main {
    background-color: white;
    /* Push footer all the way down */
    flex: 1 0 auto;
    margin-top: 60px;
}

/* Footer */
footer {
    background-color: rgb(3, 3, 83);
    color: white;
}