/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Override default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Hind', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(215, 206, 152);
    text-decoration: none;
}


/* Header */
header {
    background-color: black;
    padding: 10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 2px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


header i {
    padding: 5px 10px;
    font-size: 180%;
}

header a {
    text-decoration: none;
}


/* Nav bar */

#navmenu {
    list-style-type: none;
    background-color: rgb(0, 0, 0, 0.6);
}

#navmenu a {
    color: rgb(215, 206, 152);
    ;
    text-decoration: none;
}

#navmenu a:hover {
    border-bottom: 1px solid rgb(215, 206, 152);
}

.active {
    border-bottom: 1px solid rgb(215, 206, 152);
}

nav {
    position: absolute;
    color: rgb(215, 206, 152);
    padding: 15px;
    width: 100%;
    box-shadow: 0 1px 2px;
    left: 0;
    display: none;
    top: 100%;
}

#nav-toggle-open:checked~nav {
    display: block;
}

#nav-toggle-open {
    display: none;
}

/* Top image */

#guitarimage {
    background: url("../images/pexels-del-adams-2444860.jpg") no-repeat center center/cover;
    height: 200px;
    width: 100%;
}

/*  Home Middle Image */

#acousticguitar {
    background: url("../images/pexels-pixabay-210766.jpg") no-repeat center center/cover;
    height: 300px;
    width: 100%;
}

/* Home bottom image */
#guitarimagebottom {
    background: url("../images/pexels-peter-jarkuliš-287202.jpg") no-repeat center center/cover;
    height: 300px;
    width: 100%;
}

.list-style-none {
    list-style-type: none;
}


/* Main Content */
main {
    /* Push footer all the way down */
    flex: 1 0 auto;
    margin-top: 50px;
}

.black-background {
    background-color: black;
    color: rgb(215, 206, 152);
}

.maincontent h2 {
    text-decoration: underline;
}


.beige-background {
    background-color: rgb(215, 206, 152);
    color: black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.text-center {
    text-align: center;
}

/* Home Page */

#about-us {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.overview {
    flex-basis: 200px;
    flex-grow: 1;
    margin-top: 10px;
}

.overview div {
    margin: 20px;
}

.contact-us {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

/* Form */

#enquire {
    background-image: url(../images/pexels-karolina-grabowska-4471890.jpg);
    background-size: cover;
    background-position: 75%;
    padding: 20px 10%;
    flex-grow: 1;
    color: rgb(215, 206, 152);
}

#enquire h2 {
    text-align: center;
}

#enquire h3 {
    text-decoration: underline;
}

#enquiry-form {
    color: whitesmoke;
    background-color: rgba(60, 60, 60, 0.7);
    padding: 35px;

}

input[type='radio'] {
    accent-color: #D7CE98;
}

.submit-button {
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 100%;
    background-color: rgb(215, 206, 152);
    color: black;
}

.submit-button:hover {
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 100%;
    background-color: black;
    color: rgb(215, 206, 152);
}



/* Footer */
footer {
    background-color: black;
    ;
    color: white;

}

#social-links {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-links i {
    font-size: 150%;
    padding: 5px;
    color: rgb(215, 206, 152);
}

/* Media query: for tablets and larger (768px plus) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        color: rgb(215, 206, 152);
        background-color: none;
    }

    #navmenu {
        display: flex;
    }

    #navmenu>li {
        padding-left: 1rem;
        text-align: center;
    }

    .nav-toggle-open-label {
        display: none;
    }

    .overview {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

}

/* Media query: for larger screens (1024px plus) */
@media screen and (min-width: 1024px) {
    .overview {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

}